form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: min-content;
}

input {
    color: black;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #237814;
    border-radius: 5px;
    width: 635px;
    padding: 12px;
}

::placeholder {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.sendButton {
    align-self: flex-end;
}

.emptyRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    gap: 50px;
}